.modal {
    display: none; 
    position: fixed; 
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background:rgba(0,0,0,0.5);
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}
  
.fake-modal {
    display: none; 
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    /* background-color: pink; */
}

.modal-content {
    background-color: #fefefe;
    width: 420px;
    height: 311px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 24px; */
}

.modal-content > .modal-input-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 388px;
    margin-top: 24px;
}

.modal-content > .modal-input-title > span {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #1D1F20;;
}

.modal-content > form {
    margin-top: 24px;
}

.modal-content > form > .input-content {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.modal-content > form > .input-content > span {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
}

.modal-content > form > .input-content > input  {
    background: #FFFFFF;
    border: 2px solid #EDEDED;
    border-radius: 8px;
    width: 372px;
    height: 36px;
    margin-top: 8px;
    padding-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
}

.modal-content > form > .input-content > textarea  {
    background: #FFFFFF;
    border: 2px solid #EDEDED;
    border-radius: 8px;
    width: 372px;
    height: 36px;
    margin-top: 8px;
    padding-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
}



.modal-content > form > .input-content > input::-webkit-input-placeholder { /* Edge */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    opacity: 0.5;
}
  
.modal-content > form > .input-content > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    opacity: 0.5;
}

.modal-content > form > .input-content > input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    opacity: 0.5;
}

.modal-content > form > .input-content > textarea::-webkit-input-placeholder { /* Edge */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    opacity: 0.5;
}
  
.modal-content > form > .input-content > textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    opacity: 0.5;
}

.modal-content > form > .input-content > textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    opacity: 0.5;
}

.modal-content > .delete-message {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #404040;
    /* margin-left: 24px; */
    margin-top: 24px;
    width: 388px;
    /* padding-left: 24px; */
}

.modal-content > .button-container {
    width: 388px;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.modal-content > .button-container > .b1 {
    width: 97px;
    height: 32px;
    background: #01959F;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-left: 5px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.modal-content > .button-container > .b2 {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 76px;
    height: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #1D1F20;
    cursor: pointer;
}