.main-container {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
}

.board-container {
    min-width: 100%;
    height: 100%;
    /* padding: 24px 24px 0 24px; */
    /* padding: 24px 24px 0 24px; */
    margin: 24px 0 80px 0;
    display: flex;
}